<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.soso.mapper.UabtabMapper">

<!--    int insertColum(@Param("uid") Integer uid, @Param("bid") Integer bbid);-->
    <insert id="insertColum">
        insert into uabtab values (null,#{uid},#{bid})
    </insert>

</mapper>